
<h1>58</h1>
<table>
<tr style='text-align: left'>
	<th>#</th>
	<th>State</th>
	<th>User</th>
	<th>Title</th>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/7872'>7872</a></td>
	<td>open</td>
	<td><a href='https://github.com/extemporalgenome'>extemporalgenome</a></td>
	<td><a href='https://github.com/golang/go/issues/7872'>encoding/json: Encoder internally buffers full output</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/5901'>5901</a></td>
	<td>open</td>
	<td><a href='https://github.com/rsc'>rsc</a></td>
	<td><a href='https://github.com/golang/go/issues/5901'>encoding/json: allow per-Encoder/per-Decoder registration of marshal/unmarshal functions</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/27735'>27735</a></td>
	<td>open</td>
	<td><a href='https://github.com/dsnet'>dsnet</a></td>
	<td><a href='https://github.com/golang/go/issues/27735'>encoding/json: incorrect usage of sync.Pool</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/27589'>27589</a></td>
	<td>open</td>
	<td><a href='https://github.com/pjebs'>pjebs</a></td>
	<td><a href='https://github.com/golang/go/issues/27589'>proposal: encoding/json: &#34;nonil&#34; struct tag to marshal nil slices and maps as non-null</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/33422'>33422</a></td>
	<td>open</td>
	<td><a href='https://github.com/rittneje'>rittneje</a></td>
	<td><a href='https://github.com/golang/go/issues/33422'>encoding/json: marshaling RawMessage has poor performance</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/35501'>35501</a></td>
	<td>open</td>
	<td><a href='https://github.com/ainar-g'>ainar-g</a></td>
	<td><a href='https://github.com/golang/go/issues/35501'>encoding/json: tag `json:&#34;-&#34;` doesn&#39;t hide an embedded field</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/21399'>21399</a></td>
	<td>open</td>
	<td><a href='https://github.com/halfcrazy'>halfcrazy</a></td>
	<td><a href='https://github.com/golang/go/issues/21399'>encoding/xml: cannot marshal self-closing tag</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/32779'>32779</a></td>
	<td>open</td>
	<td><a href='https://github.com/rsc'>rsc</a></td>
	<td><a href='https://github.com/golang/go/issues/32779'>encoding/json: memoize strings during decode</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/25153'>25153</a></td>
	<td>open</td>
	<td><a href='https://github.com/dominicbarnes'>dominicbarnes</a></td>
	<td><a href='https://github.com/golang/go/issues/25153'>encoding/json: include property name for marshal errors</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/28923'>28923</a></td>
	<td>open</td>
	<td><a href='https://github.com/mvdan'>mvdan</a></td>
	<td><a href='https://github.com/golang/go/issues/28923'>encoding/json: speed up the decoding scanner</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/5819'>5819</a></td>
	<td>open</td>
	<td><a href='https://github.com/gopherbot'>gopherbot</a></td>
	<td><a href='https://github.com/golang/go/issues/5819'>encoding/gob: encoder should ignore embedded structs with no exported fields</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/11939'>11939</a></td>
	<td>open</td>
	<td><a href='https://github.com/joeshaw'>joeshaw</a></td>
	<td><a href='https://github.com/golang/go/issues/11939'>proposal: encoding/json, encoding/xml: support zero values of structs with omitempty</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/14750'>14750</a></td>
	<td>open</td>
	<td><a href='https://github.com/cyberphone'>cyberphone</a></td>
	<td><a href='https://github.com/golang/go/issues/14750'>encoding/json: parser ignores the case of member names</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/37237'>37237</a></td>
	<td>open</td>
	<td><a href='https://github.com/myitcv'>myitcv</a></td>
	<td><a href='https://github.com/golang/go/issues/37237'>x/tools/gopls: support advanced query syntax for Symbol</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/20206'>20206</a></td>
	<td>open</td>
	<td><a href='https://github.com/markdryan'>markdryan</a></td>
	<td><a href='https://github.com/golang/go/issues/20206'>encoding/base64: encoding is slow</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/19636'>19636</a></td>
	<td>open</td>
	<td><a href='https://github.com/josselin-c'>josselin-c</a></td>
	<td><a href='https://github.com/golang/go/issues/19636'>encoding/base64: decoding is slow</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/pull/35320'>35320</a></td>
	<td>closed</td>
	<td><a href='https://github.com/qingyu31'>qingyu31</a></td>
	<td><a href='https://github.com/golang/go/pull/35320'>encoding/json: prevent compact twice to improve precomputed performance.</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/25426'>25426</a></td>
	<td>open</td>
	<td><a href='https://github.com/josharian'>josharian</a></td>
	<td><a href='https://github.com/golang/go/issues/25426'>cmd/compile: revisit statement boundaries CL peformance and binary size impact</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/38751'>38751</a></td>
	<td>open</td>
	<td><a href='https://github.com/dmitshur'>dmitshur</a></td>
	<td><a href='https://github.com/golang/go/issues/38751'>x/playground: very large output is sometimes corrupted</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/34235'>34235</a></td>
	<td>closed</td>
	<td><a href='https://github.com/wI2L'>wI2L</a></td>
	<td><a href='https://github.com/golang/go/issues/34235'>encoding/json: marshaling a zero value encoding.TextMarshaler interface struct field panics</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/33675'>33675</a></td>
	<td>closed</td>
	<td><a href='https://github.com/wI2L'>wI2L</a></td>
	<td><a href='https://github.com/golang/go/issues/33675'>encoding/json: panic for nil map key types implementing TextMarshaler</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/32896'>32896</a></td>
	<td>closed</td>
	<td><a href='https://github.com/nkovacs'>nkovacs</a></td>
	<td><a href='https://github.com/golang/go/issues/32896'>encoding/json: addrMarshalerEncoder does not respect SetEscapeHTML</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/10769'>10769</a></td>
	<td>closed</td>
	<td><a href='https://github.com/bep'>bep</a></td>
	<td><a href='https://github.com/golang/go/issues/10769'>encoding/json: detect circular data structures when encoding</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/34471'>34471</a></td>
	<td>closed</td>
	<td><a href='https://github.com/lmb'>lmb</a></td>
	<td><a href='https://github.com/golang/go/issues/34471'>proposal: encoding/binary: cache dataSize across invocations of Read and Write</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/4146'>4146</a></td>
	<td>open</td>
	<td><a href='https://github.com/bradfitz'>bradfitz</a></td>
	<td><a href='https://github.com/golang/go/issues/4146'>reflect: MakeInterface</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/34298'>34298</a></td>
	<td>closed</td>
	<td><a href='https://github.com/pmalek'>pmalek</a></td>
	<td><a href='https://github.com/golang/go/issues/34298'>x/tools/gopls: error checking package</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/37083'>37083</a></td>
	<td>closed</td>
	<td><a href='https://github.com/jpninanjohn'>jpninanjohn</a></td>
	<td><a href='https://github.com/golang/go/issues/37083'>encoding/json: Encoder adds new line at the end of response which is different from how Marshal works </a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/19348'>19348</a></td>
	<td>closed</td>
	<td><a href='https://github.com/davidlazar'>davidlazar</a></td>
	<td><a href='https://github.com/golang/go/issues/19348'>cmd/compile: enable mid-stack inlining</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/28792'>28792</a></td>
	<td>closed</td>
	<td><a href='https://github.com/thinkerou'>thinkerou</a></td>
	<td><a href='https://github.com/golang/go/issues/28792'>cmd/vet: incorrect error on a MarshalXML method</a></td>
</tr>

<tr>
	<td><a href='https://github.com/golang/go/issues/43972'>43972</a></td>
	<td>closed</td>
	<td><a href='https://github.com/karl-gustav'>karl-gustav</a></td>
	<td><a href='https://github.com/golang/go/issues/43972'>x/tools/gopls/internal/lsp/cache: fatal error: concurrent map iteration and map write</a></td>
</tr>

</table>
